body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h2{
    font-size: 50px;
    margin-bottom: 58px;
}

h3{
    font-size: 25px;
    margin-bottom: 19px;
}

section {
    padding-top: 113px;
}
p{
    margin: 0;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: url('img/header-bg.jpg') no-repeat center top / cover ;
    width: 100%;
    height: 700px;
    color: #ffffff;
    padding-bottom: 322px;

}
header a {
    color: #ffffff;
}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu li {
    margin-right: 40px;
}

.logo{
    margin-right: 69px;
}
.menu {
    margin-right: 40px;
    display: flex;
}


.number{
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav{
    display: flex;
    align-items: center;
    padding-top: 57px;
}

.title{
    text-transform: uppercase;
    margin-top: 155px;
}

.title p{
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
}
.title h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em;
}
.btn{
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 10px 23px;
    border: 1px solid #ffffff;
    width: 225px;
    transition: all 0.5s ease;
}

.btn:hover {
   background: #ffffff;
    color: black;
}

.description{
    display: flex;
    justify-content: space-between;
}

.description p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}
.first .second{
    width: 567px;
}
.photos{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.photos img {
    /*margin-left: 5px;*/
    padding-right: 10px;
}
.photos .map{
    width: 470px;
    height: 344px;
}
.photos .change{
    width: 270px;
    height: 344px;
}
.photos .change2{
    width: 270px;
    height: 344px;
}
.footer-text{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    display: flex;

}
.footer-text p {
    margin-right: 67px;
    margin-top: 113px;
    margin-bottom: 80px;
}


